@media  (min-width: 320px) and (max-width: 600px)
{
    body
    {
        font-size:0.8em;
    }
    nav img
    {
        display: block;
    }
    nav ul
    {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 1200px)
{
    body
    {
        font-size:1em;
    }
    nav img
    {
        display: block;
    }
    nav ul
    {
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 2560px)
{
    body
    {
        font-size:1.3em;
    }
    nav
    {
    }
    nav img
    {
        display: none;
    }
    nav ul
    {
        display: block;
    }
}

body
{
    background-color: #323232;
    color:#7D7D7D;
    font-family: 'Merienda', cursive;
}

img
{
    border-radius: 2em;
}
h1,h4
{
    color: #F4B942;
}
a
{
    text-decoration: none;
    color: #6FCF97;
}
a:hover
{
    color: #F4B942;
}
header
{
    text-align: center;
    background-color:#191919;
    padding: 1vw;
    box-shadow: inset 5px 5px 5px #7D7D7D;
}

nav
{
    position:fixed;
    padding: 0;
    text-align: center;
    font-size:2em;
    color:rgb(83, 82, 82);
    box-shadow: inset 5px 5px 5px #7D7D7D;
    background-color: #191919;
}
nav img
{
    float:left;
    margin-left: 1vw;
    height:12vw;
    width: 12vw;
}
nav ul
{
    padding: 0;
    list-style-type: none;
}
nav li
{
    padding:1vw;
    margin-top:5vh;
}
nav li:hover
{
    background-color: rgb(47, 47, 47);
}
main
{
    width: 60vw;
    margin:5vh 0vw 0vh 18vw;
    text-align: center;
    box-shadow: inset 5px 5px 5px rgb(125, 125, 125);
    background-color: #191919;
    padding: 2vw;
}
#search-form
{
    text-align: inherit;
}
input
{
    color:#191919;
}
input[type="text"]
{
    background-color: #6FCF97;
}
input[type="email"]
{
    background-color: #6FCF97;
}
textarea
{
    color:#191919;
    background-color: #6FCF97;
}
input[type="submit"]
{
    background-color: rgb(125, 125, 125);
    color:#F4B942;
    border-radius: 0.5em;
    padding: 0.5vw;
}
button[type="submit"]
{
    background-color: rgb(125, 125, 125);
    color:#F4B942;
    border-radius: 0.5em;
    padding: 0.5vw;
    font-family: 'Merienda', cursive;
}
button
{
    font-family: 'Merienda', cursive;
    background-color: rgb(125, 125, 125);
}
#search-form input
{
    border:none;
    border-radius: 1em;
    height: 5vh;
    padding:0.5vw;
    width: 50vw;
    font-size:1.5em;
}
#search-form button
{
    margin-top:1vh;
    width: 10vw;
    height:5vh;
}

#search-result
{
    padding:2vw;
    margin:2vh 5vw 0vh 5vw;
}

#search-result ul
{
    display: inline;
    width: 50vw;
    margin:0 auto;
    list-style: none;
}
#search-result ul li
{
    color:#6FCF97;
    font-size:1.5em;
    text-decoration: underline #6FCF97;
    float:left;
    margin:1vh 0vh 0vh 2vw;
}
#search-result ul li:hover 
{
    font-size: 1.8em;
    color:#F4B942;
}
#contents
{
    position: relative;
    width: 100%;
    top:5vh;
    left:-2vw;
    margin-left: 0;
    clear:both;
}
#contents ul
{
    list-style-type: none;
    text-align: center;
    float:left;
    margin-right: 1vw;
    padding:1.5vw;
    box-shadow: inset 5px 5px 5px #7D7D7D;
    background-color: rgb(28, 28, 28);
    color:rgb(125, 125, 125);
}
#contents ul li
{
    margin-bottom:0.5vh;
}